body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
}

header {
    text-align: center;
    margin-bottom: 90px;
    color: aliceblue;
}

#login {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: rgb(70, 70, 70);
    width: 500px;
    height: 190px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

button {
    border-radius: 8px;
    background-color: rgb(158, 142, 37); 
    border: none;
    color: rgb(24, 24, 24);
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.2s ease;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(218, 204, 81);
    transform: scale(1.05);
}
#botao {
    width: auto; 
    height: auto;
    display: inline-block;
}
#botao a{
    color: black;
}
