body{
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 47, 47);
}
img{
    border-radius: 10px;
    border: 10px;
    transition: 1s;
}
img:hover{
    transform: scale(1.2);
}
#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 155px;
}
#topofoto{
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 150px;
}
#cabeca{
    padding: 5px;
    color: aliceblue;
    background-color: rgb(24, 24, 24);
    width: 1525px;
    height: 115px;
}
#foto{
    margin-top: 30px;
    margin-left: 150px;
    border: 10px;
}
#texto{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px;
    background-color:  #8d8d8d;
    margin: 0 auto;
    border-color: rgb(255, 255, 255);
    width: 1100px;
    margin-top: 30px;
    margin-left: 60px;
}
#imagens{
    margin-top: 65px;
    margin-left: 90px;
}
#imagens img {
    border-color: rgb(255, 255, 255);
    border: 10px;
}

