body{
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
h1{
    color: rgb(38, 72, 123);
    margin-top: 30px;
    margin-left: 155px;
}

#cabeca{
    padding: 5px;
    color: aliceblue;
    background-color: #fff;
    width: 100%;
    height: 115px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#cabeca h1{
    font-size: 50px;
}

table{
    border: 10px solid ;
    padding: 20px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 40px;
    background-color: #fff;
    border-spacing: 20px;
    margin-bottom: 80px;
    width: 85%;
    overflow-x: auto;
    display: block;
    color: rgb(38, 72, 123);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05)

}
a{
    border-radius: 6px;
}

img{
    border-radius: 10px;
    transition: 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}

img:hover{
    transform: scale(1.05);
}

footer{
    text-align: center;
    padding: 15px;
    background-color: #e0e7f3;
    color: #333;
}
footer a {
    text-decoration: none;
    color: rgb(38, 72, 123);
}
#mim {
    background-color: #e0e7f3;
    color: #333;
    font-weight: bold;
    padding: 12px 20px; 
    margin-left: 150px;
    margin-bottom: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
}
#mim a{
    text-decoration: none;
    color: rgb(38, 72, 123);
}

#mim:hover {
    transform: scale(1.1);
}

