body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    color: #222;
    line-height: 1.6;
}  
h1, h2 {
    color: rgb(38, 72, 123);
    text-align: center;
}  
img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}
img:hover {
    transform: scale(1.05);
}
header {
    background-color: #fff;
    text-align: center;
    padding: 30px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
section {
    margin: 60px auto;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px 10px;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.grid4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px 10px;
    margin: 0 auto;
    padding-bottom: 30px;
}
#ftLugares{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
}
.curiosidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}
.lista {
    background-color: #ececec;
    padding: 20px;
    border-radius: 10px;
}
.skill {
    margin-bottom: 15px;
}
.barra {
    background-color: #ddd;
    border-radius: 10px;
    height: 12px;
    width: 100%;
}
.nivel {
    background-color: rgb(38, 72, 123);
    height: 12px;
    border-radius: 10px;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #e0e7f3;
  color: #333;
}
footer a {
  text-decoration: none;
  color: rgb(38, 72, 123);
}
@media (max-width: 768px) {
  .curiosidades {
    grid-template-columns: 1fr;
  }
  section {
    width: 90%;
    padding: 20px;
  }
}
