body{
    margin: 0;
    top: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: rgb(39, 39, 39);
}
header{
    background-color: rgb(105, 118, 129);
    width: 100%;
    padding: 1px 1px;
    text-align: center;
    border: 10px solid rgb(255, 255, 255);
}
#qmeusou{
    background-color: rgb(105, 118, 129);
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 1px 15px;
    margin-bottom: 50px;
}
#galeria{
    width: 75%;
    border-radius: 10px;
    margin-left:  5px;
    text-align: center;
    margin: 0 auto;
    padding: 1px;
    margin-bottom: 60px;
}
.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 50px;
}
.conteiner > img{
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
}
img:hover{
    transform: scale(1.1);
}
.conteiner1{
    width: 400px;
    height: 400px;
}
.conteiner2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.conteiner2 > img{
    width: 250px;
    transition: transform 0.3s;
    border-radius: 10px;
}
.curiosidades{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 70px;
    padding: 40px;
    transition: transform 0.3s;
    align-items: center;
}
p{
    font-size: large;
}

#lugares{
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    
}
#materias{
    display: flex;
    margin-left: 70px;
    padding: 40px;
    margin-bottom: 20px;
    justify-content: center;
}
#tecnologia{
    margin-left: 300px;
    transition: transform 0.3s;
}
#listatech{
    margin-bottom: 30px;
    margin-top: 40px;
}
#fototech{
    margin-left: 30px;
}
#inter{
    display: flex-box;
    text-align: center;
    justify-content: center;
    margin-bottom: 120px;
    margin-top: 70px;
}
#inter > p{
    background-color: rgb(105, 118, 129);
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 70px;
}
#fotoInter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 140px;
}
#fotoInter > img{
    transition: transform 0.3s;
    border-radius: 5px;
}
#estagio{
    text-align: center;
}
#pic{
    display: grid;
    margin-left: 400px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
#pic > p{
    background-color: rgb(105, 118, 129);
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    text-align: justify;
    border-radius: 5px;
}
#pic > img{
    border-radius: 5px;
    transition: transform 0.3s;
}
footer{
    text-align: center;
    background-color: aliceblue;
    color: black;
    padding: 1px;
}
